body{
    margin: 0px;
    min-width:500px;
  }
  .fa-search{
      margin: 0px 5px;
  }
  .content{
      margin: 5px;
  }
  .menu_bar{
      background-color: #ffcd33;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .search{
      width: 100%;
      position: relative;
      top: -25px;
      display: flex;
      justify-content: center;
  }
  form{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  input{
      width: 80%;
      height: 50px;
      border: none;
      border-radius: 25px;
      margin: 0px 10px;
  }
  input::placeholder{
      color: rgba(0,0,0,0.2)
  }
  /* .search{
      margin: 0px;
      width: 80px;
      height: 50px;
  } */
  .book_of_the_day__info{
      display: flex;
  }
  .top_adventures{
      overflow-x: scroll;
      display: flex;
  }
  .book{
      width: 90px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
  }
  .rate_small{
      margin-top: 5px;
      font-size: 10px;
      display: flex;
      justify-content: center;
  }
  img{
      border-radius: 10px;
  }
  h2{
      margin: 0px;
  }
  h3{
      margin: 0px;
      font-weight: 200;
      color: rgba(0,0,0,0.2);
  }
  .img_info{
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
  }
  .rate{
    margin: 5px 0px;
  }
  .buttons{
    margin-right: 5px;
  }
  button{
    height: 30px;
    border-radius: 5px;
    width: 100px;
    border: none;
  }
  .rb{
    margin-top: 30px;
    display: flex;
  }
  .rbb{
    margin-right: 30px;
  }
  .black{
    background-color: black;
    color: #737373;
  }